
.navbar-container{
    display: flex;
    justify-content: center;
}

.navbar-left{
    position: relative;
    padding: 5%;
    top: 150px;
    left: 190px;
}

nav {
    background-color: #FBEAEB;
    height: 110vh;
}

.navbar-left h1 {
  font-size: 142px;
  position: relative;
  margin-bottom: 80px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-style: italic;
  /* color: #0047ab; */
  color: #2F3C7E;
}

.navbar-right {
    position: absolute;
    top: 0;
    left: 0;
    margin: 140px; 
    flex-direction: column;
}

.navbar-right h2 {
  font-size: 32px;
  line-height: 14px;
  padding: 18px;
  color: #0047ab;
  text-align: center;
  font-family: "Lora", serif;
}
@media screen and (min-width: 2560px) and (max-height: 1600px) {
    .navbar-left h1 {
      font-size: 200px;
    }
  }
  
  @media screen and (min-width: 2560px) and (min-height: 1600px) {
    .navbar-left h1 {
      font-size: 270px; 
    }
  
    .navbar-right h2 {
      font-size: 40px; 
    }
  }
  

/* @media (min-resolution: 192dpi) {
 
    .navbar-left h1 {
      font-size: 170px; 
    }
  
    .navbar-right h2 {
      font-size: 40px; 
    }
  } */