
.navbar-container{
    display: flex;
    justify-content: center;
}

.navbar-left{
    position: relative;
    padding: 5%;
    top: 150px;
    left: 190px;
}

nav {
    background-color: #FBEAEB;
    height: 100vh;
}

.navbar-left h1 {
  font-size: 142px;
  position: relative;
  margin-bottom: 80px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-style: italic;
  /* color: #0047ab; */
  color: #2F3C7E;
}

.navbar-right {
  margin-left: 10%;
  flex-direction: column;
  position: relative;
  margin-top: -34%;
  margin-right: 94%;
 
}

.navbar-right h2 {
  font-size: 32px;
  line-height: 14px;
  padding: 18px;
  color: #0047ab;
  text-align: center;
  font-family: "Lora", serif;
}
